<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://aimavericks.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>false</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/c0e3aef2-4319-4926-9f5b-6f72000c27a3/resourceGroups/AIMavericks/providers/Microsoft.Web/sites/aimavericks</ResourceId>
    <UserName>$aimavericks</UserName>
    <_SavePWD>true</_SavePWD>
    <PublishUrl>https://aimavericks.scm.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>